# credentials
.env

# large outputs
outputs/severity_overlay.png

# jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# python
__pycache__/
*.py[cod]
*.pyo

# environment
.conda/
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db